@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


/************* FORMATOS GENERALES ********************/

*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

img{
  max-width: 100%;
}

p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/*********************************  SECTION HERO ********************/

.section-hero{
  min-height: 40vh;
  background-color: #1f2937;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.header{
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 0;
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero-1ra-parte{
  display: flex;
  justify-content: space-between;
  
}

.logo{
  font-size: 2rem;
  color: #f9faf8;
}

.links a{
  font-size: 1.125rem;
  color: #e5e7eb;
  margin-left: 1rem;
}

.hero-2da-parte{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.div-main-text{
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-big{
  font-size: 3rem;
  font-weight: 900;
  color: #f9faf8;
}

.text-small{
  font-size: 1.125rem;
  color: #e5e7eb;
}

.button-inicio{
  display: inline-block;
  background-color: #3882f6;
  border-radius: 8px;
  color: #fff;
  padding: 0.5rem 1.8rem;
  margin-top: .5rem;
  font-weight: 600;
}

.img-inicio{
  background-color: #ffffff69;
  flex-grow: 1;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-img{
  color: #ffffff;
}


/******************************** SECTION INFO RANDOM ***************/

.section-info-random{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-random-info{
  font-size: 2.5rem;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 0%;
}

.div-info-random{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 3rem 0;
  width: 80%;
}

.img-info{
  width: 12.5rem;
  height: 10rem;
  border-radius: 10px;
  border: solid 2px #1f2937;
}

.text-img-random{
  margin-top: 0.2rem;
  font-weight: 700;
}

/******************************* SECTION QUOTE ********************/

.section-quote{
  min-height: 40vh;
  background-color: #dadfebe1;
  color: #1f2937;
  font-size: 2rem;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote{
  margin: 0%;
  padding: 5rem;
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.cite{
  
  align-self: flex-end;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 800;
}




/******************************* SECTION ACTION *******************/

.section-action{
  display: flex;
}



/**************************** FOOTER *****************************/

footer{
  font-size: 1.125rem;
  color: #e5e7eb;
  background-color: #1f2937;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}